<!DOCTYPE html>
<html>
   <head>
      <!-- development version, includes helpful console warnings -->
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <!-- production version, optimized for size and speed
      <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
      <script src='https://cdn.rawgit.com/github/fetch/v0.9.0/fetch.js'></script>
      <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
      <script type='text/javascript' src='smugdata2.js?ver=2'></script>

      <link rel="stylesheet" href="smugvue.css?ver=5">
   </head>

   <body>
      <div id="smugvue" class='screen' v-bind:style="{ backgroundImage: bkgUrl }">
         <span id='ruler' class='ruler'></span>
       <template v-if="displayData.type === 'Container'">
         <div id='header' class='header'>
            <div id='appname' class="appname">SmugMug for TV</div>
            <div id='user' class="user" v-bind:style="usernameStyle()">{{ username.toUpperCase() }}</div>
            <div id='path' class="path">{{ displayData.path }}</div>
         </div>

         <div id='topinfo'  class='infoarea topinfo'>
            <template v-if='displayData.previous'>
               <input id="topmorebutton" class="morebutton" type="button" v-on:click="containermore('PrevPage')" value="Show Previous...">
            </template>
         </div>

         <div id="contentsection" class="content">

               <div id="grid">
                  <div v-for="(child,index) in displayData.children" class="contententry" v-bind:style="selected(index)">
                     <a href="javascript:void(0);" v-on:click="itemaction(child)">
                        <div class="thumb">
                           <img class="thumbimg" v-bind:src="contentEntryImage(child)">
                        </div>
                        <div class="contentlabel">
                           {{ child.name }}
                        </div>
                     </a>
                  </div>
               </div>

         </div>

         <div id='bottominfo'  class='infoarea bottominfo'>
           <template v-if='displayData.more'>
              <input id="bottommorebutton" class="morebutton" type="button" v-on:click="containermore('NextPage')" value="Show More...">
           </template>
         </div>
       </template>
         <template v-else-if="displayData.type === 'Media' && isImage(displayData.format)">
           <div id="imageplayerdiv" class="player" v-on:click="mediaended()">
              <img id="image" class="playerimg" v-bind:src="displayData.url"></img>
           </div>
         </template>
         <template v-else-if="displayData.type === 'Media' && isVideo(displayData.format)">
           <div id="videoplayer" class="player">
              <div v-if="displayData.title !== undefined" class="vidtitle" id="vidname">
                  {{ displayData.title }}
              </div>
              <div v-else-if="displayData.filename !== undefined" class="vidtitle" id="vidname">
                  {{ displayData.filename }}
              </div>
              <video id="video" class="playerimg" controls="true" autoplay v-on:ended="mediaended()" v-bind:src="displayData.url"></video>
           </div>
         </template>
         <template v-else>
           <div class="vidtitle">
              "Unknown Content Type"
           </div>
        </template>

         <div v-if="bDebug" id='logs' class='debug' v-for="(value, key) in logScreen">
                <info-tree :data=value :datakey=key></info-tree>
         </div>
      </div>
   </body>
   <script type="text/x-template" id="info-tree">
       <ul class="info-tree" v-if='data'>
          <template v-if="data.displayName">
             <div class="displayName displayName-size">{{ data.displayName }}</div>
          </template>
         <li class='infoentry' v-for="(value1, key1) in data">
              <template v-if="typeof(value1) !== 'object'">
                 <template v-if="key1 !== 'displayName'">
                    <span class='label'>{{ key1 }}:</span> <span class='value'>{{ value1 }}</span>
                 </template>
              </template>
              <template v-else>
                 <div class="rootlabel rootlabel-size">{{ key1 }}</div>
                 <info-tree :data="value1" :datakey="key1"></info-tree>
              </template>
         </li>
       </ul>
       <ul class="info-tree" v-else>
          <li class='infoentry'>No data available</li>
       </ul>
   </script>
   <script type='text/javascript' src='smugnew2.js?ver=2'></script>
</html>
